
<form method="post">
    <label>Name:</label><br />
    <input type="text" name="Name" /><br /><br />

    <label>Director:</label><br />
    <input type="text" name="Director" /><br /><br />

    <label>Phone number:</label><br />
    <input type="text" name="PhoneNumber" /><br /><br />

    <label>Address:</label><br />
    <input type="text" name="Address" /><br /><br />

    <label>Email:</label><br />
    <input type="text" name="Email" /><br /><br />

    <input type="submit" value="Add" />
</form>